문제 1 (주관식: 결과예측)
- 아래 코드에서 l은 파이썬 리스트입니다.
- print(l1)과 print(l2)의 실행 결과를 각각 예측하여 작성하시오.

In [ ]:
import numpy as np

l = [10, 20, 30, 40, 50, 60]

# l1: 인덱스 2 이상 5 미만
l1 = l[2:5]

# l2: 마지막에서 3개 요소
l2 = l[-3:]

문제 2 (코드 작성)
- for 루프와 .items() 메소드를 사용하여, 주어진 사전(dictionary) my_scores의 모든 키(key)와 값(value)을 "과목명: 점수" 형태로 출력하는 코드를 작성하시오

In [ ]:
my_scores = {
    'Math': 95,
    'English': 80,
    'Science': 90
}

# 여기에 코드를 작성하세요
# (출력 예시)
# Math : 95
# English : 80
# Science : 90

문제 3 (코드 작성)
- for 루프와 if-else 문을 사용하여 1부터 10까지의 숫자 중 3의 배수이면 "3의 배수"라고 출력하고, 아니면 "3의 배수 아님"이라고 숫자와 함께 출력하는 코드를 작성하시오.

In [ ]:
# 1부터 10까지의 숫자를 포함
for i in range(1, 11):
    # 여기에 if-else 조건문을 작성하세요
    pass


# (출력 예시)
# 1 3의 배수 아님
# 2 3의 배수 아님
# 3 3의 배수
# 4 3의 배수 아님
# ...
# 9 3의 배수
# 10 3의 배수 아님

문제 4 (코드 작성)
- 두 개의 숫자 a와 b를 인자로 받아, $a^2 + b$ (a의 제곱 더하기 b)를 계산하여 반환(return)하는 함수 calc_func(a, b)를 정의하시오.

In [ ]:
# 여기에 함수를 정의하세요
def calc_func(a, b):
    pass


# --- 테스트 코드 (수정 불필) ---
result = calc_func(5, 10)
print(f"5^2 + 10 = {result}")  # 예상 출력: 5^2 + 10 = 35

5^2 + 10 = None

문제 5 (코드 작성)
- 'f 문자열의 상세 옵션'을 참고하여, f-string을 사용해 변수 val1과 val2를 아래의 요구사항에 맞게 포맷팅하여 str_result 변수에 할당하시오.

- 요구사항
 1. val1 (float): 소수점 이하 두 번째 자리까지만 표시
 2. val2 (int): 총 5자리로 표시하되, 빈자리는 0으로 채움

In [ ]:
val1 = 3.14159265
val2 = 42

str_result = "" # 여기에 f-string을 작성하여 할당하세요

# --- 테스트 코드 (수정 불필) ---
print(str_result)
# 예상 출력: val1 = 3.14, val2 = 00042

In [ ]:
# eos